nimehtml, body {
  height: 100%;
  width: 100%;
}
li.header#spc {
  float: left;
  width:40px;
  height:40px;
  margin-top:10px;
}
/* Header Zone */
ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index:1;
  
}

li.header {
  font-family: 'Press Start 2P', cursive;
  float: right;
}

li.header#left {
  float: left;
  width:50px;
  height:50px;
}

li.header a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  width: 150px;
}

li.header a:hover {
  color: #ff0;
}

li.header a:active {
  color: #0f0;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    font-style: normal;
}

.sppm:after{
  display: flex;
  color:#FFF;
  justify-content: center;
  font-size: 3.5rem;
  margin-top:2rem;
  content: "SVATALFHEIM'S MEMBER";
  animation:mymove 1s infinite alternate;
}

body {
    background:black;
}

img {
    width: 100%;
    height: auto;
}
#image {
  position: fixed;
  z-index: -1;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1524px;
    margin: 0 auto;
}

.card-container {
    height: 581px;
    width: 350px;
    transform: scale(.71);
    perspective: 1000px;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    transition: all .7s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

}

.face {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.font {
    background: #0004;
    border-radius: 30px;
    transform: rotateY(180deg);
}

/* .back{
    transform: rotateY(180deg);
} */

.card:hover {
    transform: rotateY(180deg);

}

.in-font {
    /* padding: 2rem; */
    height: 100%;
    position: relative;
    background-image: url("https://cdn.discordapp.com/attachments/944138097749274656/977525202890137620/183ccd0a26b0b5fde131e52667e3653a.jpg");
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box {
    padding: 2rem;
}

.birthday {
    margin-bottom: 10px;
}

.birthday, .id {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.birthday i, .tags i {
    margin-right: 10px;
    font-size: 22px;
    color: white;
}

.id i {
    font-size: 25px;
    color: white;
    margin-right: 11px;
}

  

.name {
    margin-top: 30px;
    color: white;
    font-size: 22px;
}

.nickname {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

.description {
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 15px;
    height: 150px;
    font-size: 25px;
}

.description p {
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

.tags {
    margin-top: 10px;
    margin-bottom: 90px;
    
}

.tags a {
    margin-bottom: 40px;
    border-radius: 10px;
    border: 3px solid #28242f;
    padding: 4px;
    color: hsl(240, 7%, 51%);
}

.mb {
    margin-bottom: 25px;
}

.tags a:hover {
    border-color: white;
}

.top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


html {
    min-height: 100%;
}

      pim{
    position: absolute;
    right: 40%;
    top: -80px;
}

.mcp{
    position: absolute;
    right: 38%;
    top: -75px;
    font-size: 45px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.bottom{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: white;
    background-image: url('https://media.discordapp.net/attachments/944138097749274656/977793802838364211/Space-Background-Image-2.jpg?');
    bottom: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Headland One', serif;
    font-weight: 600;
    font-size: 24px;
} 
#footer{
        background:black;
        padding:2em 1 3em;
        color:#fffb;
        background-size:cover;
        background-position:bottom; 
        font-family: 'Press Start 2P', cursive;
      }
.article{
        max-width:500px;
        margin:auto;
        padding:2em;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.text-footer {
  font-family: 'Arial';
}

@keyframes mymove{
  from {
    transform:scale 1;
  }
  to {
    transform:scale 1.5; 
  }
}

#foot{
  width:100%;
  height:170px;
  display:flex;
  background-color:gray;
  color:white;
  font-size:40px;
  justify-content: center;
  align-items: center;
  opacity:0.7;
  overflow:hidden;
}
#foot p{
  position:absolute;
  left:15%;
}
#it19{
  position:absolute;
  width:6%;
  height:11%;
  right:3%;
  background:cover;
}