html{
  height: 100%;
  width: 100%;
}

body{
  background-color:#000;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://media.discordapp.net/attachments/956172623711186974/967418168773574687/Untitled_Artwork.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position:relative;
  display: flex;
  background: cover;
}

/* Header Zone */
ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
}

li.header {
  font-family: 'Press Start 2P', cursive;
  float: right;
}

li.header#left {
  float: left;
}

li.header a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  width: 160px;
}

li.header a:hover {
  color: #ff0;
}

li.header a:active {
  color: #0f0;
}

/* tutorial */

bae{
  background-color: transparent;
  border: none;
  -webkit-text-stroke: 2px black;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  text-align: right;
  height: 100vh;
  width:100vh;
}

#tex1{
  position:absolute;
  width:100%;
  height:auto;
  top: 345px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }

 #tex2{
  position:absolute;
  width:100%;
  height:auto;
  top: 920px;
  right: calc(10vw + 40px);
  background:cover;
  z-index: -300;
 }

#tex3{
  position:absolute;
  width:100%;
  height:auto;
  top: 1450px;
  right: calc(10vw + 20px);
  background:cover;
  z-index: -300;
 }

#tex4{
  position:absolute;
  width:100%;
  height:auto;
  top: 2050px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }
#tex5{
  position:absolute;
  width:100%;
  height:auto;
  top: 2610px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }
#tex6{
  position:absolute;
  width:100%;
  height:auto;
  top: 3130px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }
#tex7{
  position:absolute;
  width:100%;
  height:auto;
  top: 3765px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }
#tex8{
  position:absolute;
  width:100%;
  height:auto;
  top: 4340px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }
#tex9{
  position:absolute;
  width:100%;
  height:auto;
  top: 4925px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }

#tex10{
  position:absolute;
  width:100%;
  height:auto;
  top: 5495px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }

#tex11{
  position:absolute;
  width:100%;
  height:auto;
  top: 6050px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }

#tex12{
  position:absolute;
  width:100%;
  height:auto;
  top: 6590px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }

#tex13{
  position:absolute;
  width:100%;
  height:auto;
  top: 7170px;
  right: calc(10vw + 5px);
  background:cover;
  z-index: -300;
 }


 #pic1{
  position:absolute;
  width:55%;
  height:auto;
  top: 145px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

 #pic2{
  position:absolute;
  width:55%;
  height:auto;
  top: 720px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

#pic3{
  position:absolute;
  width:55%;
  height:auto;
  top: 1295px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

#pic4{
  position:absolute;
  width:55%;
  height:auto;
  top: 1870px;
  left: 100px;
  background:cover;
  z-index: -300;
 }
#pic5{
  position:absolute;
  width:55%;
  height:auto;
  top: 2445px;
  left: 100px;
  background:cover;
  z-index: -300;
 }
#pic6{
  position:absolute;
  width:55%;
  height:auto;
  top: 3020px;
  left: 100px;
  background:cover;
  z-index: -300;
 }
#pic7{
  position:absolute;
  width:55%;
  height:auto;
  top: 3595px;
  left: 100px;
  background:cover;
  z-index: -300;
 }
#pic8{
  position:absolute;
  width:55%;
  height:auto;
  top: 4170px;
  left: 100px;
  background:cover;
  z-index: -300;
 }
#pic9{
  position:absolute;
  width:55%;
  height:auto;
  top: 4745px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

#pic10{
  position:absolute;
  width:55%;
  height:auto;
  top: 5320px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

#pic11{
  position:absolute;
  width:55%;
  height:auto;
  top: 5895px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

#pic12{
  position:absolute;
  width:55%;
  height:auto;
  top: 6470px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

#pic13{
  position:absolute;
  width:55%;
  height:auto;
  top: 7045px;
  left: 100px;
  background:cover;
  z-index: -300;
 }

.footer {
  width: 100%;
  height:30vh;
  margin-top: 7650px;
  background: black;
  color:white;
}

#ftop{
  height:70%;
  width:100%;
  margin: auto;
  text-align:center;
}
#fbuttom{
  bottom: 0;
  margin: auto;
  height: 30%;
}
#pbuttom{
  margin: auto;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}
#ptext{
  margin: auto;
  font-family: 'Kanit', sans-serif;
  text-align: left;
  font-size:20px;
}
#fleft{
  word-spacing: 120px;
  padding-top: 10px;
  float: left;
  width:70%;
  margin: auto;
}
#fright{
  padding-top: 35px;
  float: right;
  width:30%;
  margin: auto;
}